:root{
  --sidebar-bg: #171717;
  --light-text-color: #f5f5f5;
  --hover-light-text-color: #e5e5e5;
  --dark-text-color: #171717;
  --hover-dark-text-color: #0a0a0a;
  --header-bg: #f5f5f5;
  --main-bg: #f1f1f1;
  --card-border-bg: #171717;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid{
  display: grid;  
}

.flex{
  display: flex;
}

body{
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

/* Sidebar */
.sidebar{
  padding: 1.5rem;
  background-color: var(--sidebar-bg);
  grid-template-rows: 5% 15% 80%;
  height: 100%;
}
.logo h1{
  padding-left: 3rem;
  position: relative;
  font-size: 2rem;
  color: var(--light-text-color);
}
.logo h1:before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  background-color: var(--light-text-color);
  background-size: contain;
  mask: url(img/dashboard-icon.svg) no-repeat center;
}
.sidebar_nav{
  gap: 2rem;
  margin-top: 2rem;
}
.sidebar_nav ul li{
  list-style: none;
  padding: 0.5rem;
  padding-left: 2rem;
  position: relative;
  line-height: 1.3;
  font-size: 1rem;
}
.sidebar_nav ul li:before{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  background-size: contain;
  background-color: var(--light-text-color);
}
#home:before{
  mask: url(img/home-icon.svg) no-repeat center;
  -webkit-mask: url(img/home-icon.svg) no-repeat center;
}
#profile:before{
  mask: url(img/profile-icon.svg) no-repeat center;
  -webkit-mask: url(img/profile-icon.svg) no-repeat center;
}
#messages:before{
  mask: url(img/message-icon.svg) no-repeat center;
  -webkit-mask: url(img/message-icon.svg) no-repeat center;
}
#history:before{
  mask: url(img/history-icon.svg) no-repeat center;
  -webkit-mask: url(img/history-icon.svg) no-repeat center;
}
#tasks:before{
  mask: url(img/tasks-icon.svg) no-repeat center;
  -webkit-mask: url(img/tasks-icon.svg) no-repeat center;
}
#communities:before{
  mask: url(img/communities-icon.svg) no-repeat center;
  -webkit-mask: url(img/communities-icon.svg) no-repeat center;
}
#settings:before{
  mask: url(img/settings-icon.svg) no-repeat center;
  -webkit-mask: url(img/settings-icon.svg) no-repeat center;
}
#support:before{
  mask: url(img/support-icon.svg) no-repeat center;
  -webkit-mask: url(img/support-icon.svg) no-repeat center;
}
#privacy:before{
  mask: url(img/privacy-icon.svg) no-repeat center;
  -webkit-mask: url(img/privacy-icon.svg) no-repeat center;
}
.sidebar_nav ul li a{
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--light-text-color);
  padding-bottom: 5px;
}
.sidebar_nav ul li a:hover{
  border-bottom: 1px solid var(--hover-light-text-color);
  color: var(--hover-light-text-color);
}
.sidebar footer{
  align-self: end;
  color: var(--light-text-color);
}
.sidebar footer a{
  color: var(--light-text-color);
}
.sidebar footer a:hover{
  color: var(--hover-light-text-color);
}
.sidebar footer p:not(:first-of-type){
  font-size: 11px;
}

/* Main */
.header{
  background-color: var(--header-bg);
  padding: 1.5rem;
}
.top-header{
  grid-template-columns: 2fr 1fr;
}
.search{
  grid-template-columns: 20px 2fr 20px;
  align-items: center;
  gap: 10px;
}
.search-icon{
  width: 20px;
  height: 20px;
  background-color: var(--dark-text-color);
  mask: url(img/search-icon.svg);
}
.search-bar input{
  appearance: none;
  border: 1px solid #a3a3a3;
  background-color: #e5e5e5;
  width: 100%;
  height: 25px;
  border-radius: 10px;
  padding: 5px;
}
.notification-icon{
  width: 20px;
  height: 20px;
  background-color: var(--dark-text-color);
  mask: url(img/notification-icon.svg);
}
.top-user{
  justify-self: end;
  gap: 10px;
  align-items: center;
}
.top-user-img img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.top-user-name{
  font-weight: bold;
}
.bottom-header{
  grid-template-columns: 2fr 1fr;
}
.bottom-user{
  grid-template-columns: 120px 1fr;
}
.bottom-user-img{
  grid-row: 1 / 3;
}
.bottom-user-img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.bottom-user-gretting{
  align-self: end;
}
.bottom-user-name{
  align-self: start;
}
.header-btn{
  align-items: center;
  gap: 1rem;
  justify-self: end;
}
.header-btn button{
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--dark-text-color);
  color: var(--light-text-color);
  font-weight: bold;
}
.header-btn button:hover{
  background-color: #262626;
}

.container{
  padding: 2rem;
  grid-template-columns: 2fr 300px;
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  background-color: var(--main-bg);
}
.projects{
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: max(50px);
  gap: 1rem;
  grid-row: 1 / -1;
}
.section-title{
  grid-column: 1 / -1;
}
.card{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--sidebar-bg);
  height: 250px;
  border-left: 1rem solid var(--sidebar-bg);
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #fff;
}
.card:hover{
  transform: scale(1.1);
}
.card h2{
  margin-bottom: 10px;
}
.card p{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
}
.card-icons{
  gap: 1rem;
  justify-content: end;
  margin-top: 1rem;
}
.card-icons button{
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.star{
  background: url(img/star-icon.svg) no-repeat center;
  background-size: contain;
}
.eye{
  background: url(img/eye-icon.svg) no-repeat center;
  background-size: contain;
}
.share{
  background: url(img/share-icon.svg) no-repeat center;
  background-size: contain;
}

.announ-card, .trending-card{
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.announ-card > div:nth-child(2){
  border-top: 1px solid var(--sidebar-bg);
  border-bottom: 1px solid var(--sidebar-bg);
  padding: 1rem 0;
}
.users{
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.users-img{
  grid-row: 1 / -1;
  justify-self: center;
}
.users-img img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.users-name{
  align-self: end;
}
.section-title{
  font-size: 1.2rem;
  font-weight: bold;
}